html{
    background-color: black;
    width:100vw;
    height:100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 65px;
    top:0;
}
.uc{
    color:white;
    font-family: 'Raleway', sans-serif;
    margin-top:20px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 200;
    width: 100%; 
    max-width: 60%;
}

.foot{
    color:white;
    position: fixed;
    top:10px;
    right:20px;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.bold{
    font-weight: 500;
}

#backArrow{
    width: 50px;
    position: fixed;
    bottom: 30px;
    left:20px;
}

a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:black;
}

.audioText{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    
}

.audioIndiv{
    margin-bottom: 20px;
    margin-top: -5px;
}

.player{
    top: 100px;
    position: fixed;
    width: 80%;
    bottom:50px;
    overflow: scroll;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

#firstAudioText{
    margin-top: 8%;;
}


#lastAudioText{
    margin-bottom: 10%;;
}
.author{
    color: white;
    bottom: 50px;
    right:30px;
    position: fixed;
    font-family: 'Raleway', sans-serif;
   font-style: italic;
    opacity: 0.5;
}


.gradU{
    position: fixed;
    left:20%;
    top:100px;
    width: 60vw;
    height:120px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.grad{
    position: fixed;
    left:20%;
    bottom:50px;
    width: 60vw;
    height:150px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

/*
.player > *{
    margin-bottom: 20px;
}*/


.words{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:white;
    margin-top: 80px;
    margin-left:55%;
    margin-right: 50px;
    overflow: scroll;
}

li{
    list-style:none;
    line-height: 24px;
}

.author{
    font-style: italic;
    font-size: 12px;
    text-align: right;
    line-height: 16px;
    margin-right: 20px;
    background-color: 
}

.mat{
    width:550px;
    padding-top: 5px;
    border-top: 1px solid white;
    margin-bottom: 250px;
    line-height: 20px;
}
