html{
    background-color: black;
    width:100vw;
    height:100vh;
}



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
  font-family: Roboto;
  src: url("../../css/type/Roboto.ttf");
}

.header{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 65px;
    top:0;
}

.uc{
    color:white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 200; 
    width: 100%;
    max-width: 60%;
    margin-top:20px;
    margin-left: 20px;
}

.nomeEtapa{
    color:white;
    position: fixed;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
    left: 30px;
    bottom: 30px;
    margin: 0;
}

.foot{
    color:white;
    position: fixed;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    letter-spacing: 1.5px;
    font-weight: 500;
    top:10px;
    right:20px;
}

.bold{
    font-weight: 700;
}

.texto{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.menu{
    text-align: center;
}

.teste{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 140px;
}

.testee{
    color:white;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top:-10px;
}

#backArrow{
    width: 50px;
    position: fixed;
    bottom: 30px;
    left:20px;
}

.selection{
    background-color:white;
    color:black;
}

a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:red;
}


iframe{
    border:0;
}
/* zona_VIDEOS */
.videos{
    padding:0;
    margin-bottom: 50px;
    width:65%;
    text-align: center;
    height:100vw;
    position: fixed;
    top:0;
    left:0;
}

/* VIDEOS_INDIVIDUAIS */
.videos iframe{
    margin: auto;
    position: absolute;
    top: 50vh;
    transform: translate(-50%, -50%);
}

.proj {
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-left:65%;
    margin-top: 0px;
position: fixed;
    height:95vh;
    overflow:scroll;
}

#mem{
    width:80%;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    border-top:1px solid white;
    padding-top: 15px;
}

.fin{
    width:80%;
    height:30%;
}

#mema{
    display: inline-block;
    margin-left: 50px;
    opacity: 0.5;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 50px;
    font-style: italic;
}

.mat{
    width:400px;
    padding-top: 5px;
    border-top: 1px solid white;
    margin-bottom: 50px;
    line-height: 20px;
}

#FCPX{
    margin-bottom: 200px;
}
